doctype html
- var cache = []
- var localsJSON = JSON.stringify(page.__env.config.locals, function(key, value) {
-     if (typeof value === 'object' && value !== null) {
-     if (cache.indexOf(value) !== -1) {
-       // Circular reference found, discard key
-       return;
-     }
-     // Store value in our collection
-     cache.push(value);
-   }
-   return value;
- });
- cache = null; // Enable garbage collection

html(lang='en')
	head
		block head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
			meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
			meta(name="mobile-web-app-capable", content="yes")
			meta(name="apple-mobile-web-app-capable", content="yes")
			meta(name="apple-mobile-web-app-status-bar-style", content="black")
			link(rel="apple-touch-icon", href="/img/touch-icon-iphone.png")
			link(rel="apple-touch-icon", sizes="76x76" href="/img/touch-icon-ipad.png")
			link(rel="apple-touch-icon", sizes="120x120" href="/img/touch-icon-iphone-retina.png")
			link(rel="apple-touch-icon", sizes="152x152", href="/img/touch-icon-ipad-retina.png")
			meta(rel="description", content="#{locals.description}", data-meta-description)
			meta(rel="x-wintersmith", data-wintersmith-context=localsJSON)
			title= locals.name
			link(rel='stylesheet', media="print", href='./css/print.css')
			link(rel='stylesheet', media="screen, projector", href='./css/screen.css')

		script.
			window.assetUrls = {
				static: "#{locals.baseUrl}",
				api: "#{locals.baseUrl}api/",
				template: "#{locals.baseUrl}js/templates/"
			}

	body(id="{{route.segment|slugify}}", data-ng-controller="AppController")
		site-header.header
		article#content(app-view-segment="0")
		.alert#loading(data-ng-show="Loader.show") Loading...
		footer#site-footer
			div.row
				block footer
					section.copy

						:markdown
							This app (v#{ locals.pkg.npm.version }) Created by [#{ locals.owner.name }](#{locals.owner.homepage}), #{ new Date().getFullYear() }.
							This app is licensed under the [BSD 3 Clause](https://github.com/airtonix/epochdb/blob/gh-pages/LICENSE), [Source code is on github](http://github.com/airtonix/epochdb/)

						ul.button-group.simple-outline
							li: a.button.tiny(ng-href="#/about") About
							li: a.button.tiny(ng-href="#/credit") Credits
							li: a.button.tiny(ng-href="#{locals.pkg.npm.homepage}") Source
							li: a.button.tiny(ng-href="#{locals.pkg.npm.bugs.url}") Bugs

		script(data-main="./js/boot", src='./vendor/requirejs/require.js')
