doctype html
block vars
	- var bodyclass = null;

html(lang='en')
	head
		block head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
			meta(name='viewport', content='width=device-width')
			meta(rel="description", content="#{locals.description}", data-meta-description)
			title
				block title
					= locals.name
			link(rel='stylesheet', media="print", href=locals.baseUrl+'css/print.css')
			link(rel='stylesheet', media="screen, projector", href=locals.baseUrl+'css/screen.css')

		script(type='text/javascript', src=locals.baseUrl+'vendor/modernizr/modernizr.js')
		script.
			window.assetUrls = {
				static: "#{locals.baseUrl}",
				api: "#{locals.baseUrl}api/",
				template: "#{locals.baseUrl}js/templates/"
			}

	body(id="{{$state.current.name|slugify}}")

		header.header
			block header
				nav.top-bar.hide-for-print(data-topbar, data-ng-class="{'expanded': open}")
					ul.title-area
						li.name
							h1: a(href=locals.url, title=locals.description)= locals.name
						li.toggle-topbar.menu-icon(data-ng-click="open=!open"): a Menu

					section.top-bar-section
						ul.right
							li: a(ui-sref='app.items') Items
							li.divider
							li: a(href='#/about') About
							li: a(href='#/credit') Credit

		article#content.ng-cloak(data-ui-view)

		footer#site-footer
			div.row
				block footer
					section.copy
						:markdown
							This app Created by [#{ locals.owner.name }](#{locals.owner.homepage}), #{ new Date().getFullYear() }.
							This app is licensed under the [BSD 3 Clause](https://github.com/airtonix/epochdb/blob/gh-pages/LICENSE), [Source code is on github](http://github.com/airtonix/epochdb/)

						:markdown
							Built with [Wintersmith](http://wintersmith.io), [Jade](http://jade-lang.com), [GruntJs](http://gruntjs.com), [Foundation Zurb](http://foundation.zurb.com), [Bourbon](http://bourbon.io), [AngularJs](http://angularjs.org/), [requirejs](http://requirejs.org), [lodash](http://underscorejs.org), [Modernizr](http://modernizr.com/) and [SublimetText3](https://sublimetext.com/).

						:markdown
							DAYZ is a registered trademark of [Bohemia Interactive a.s](href="www.bistudio.com/‎").
							This is an unofficial modification that is not affiliated or authorized by Bohemia Interactive a.s.

							DayZ Epoch is licensed under [DayZ Mod License Share Alike](href="http://www.bistudio.com/licenses/dayz-mod-license-share-alike").

		script(data-main=locals.baseUrl+"js/main", src=locals.baseUrl+'vendor/requirejs/require.js')
